/*************** HEADER *********************/

header {
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 50px;
    padding: 0 15px;
}
.logo-desktop img {
    max-width: 100px;
    height: auto;
    display: flex;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    header {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 767px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .logo-desktop {
        margin-top: 20px;
        align-self: center;
    }
}


/**************** MENU *************************/

.menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 68px;
    list-style: none;
}
.menu ul a {
    font-size: 16px;
    font-weight: 400;
    color: black;
    text-decoration: none;
    padding: 0 15px;
}
.menu li {
    border-top: 2px solid transparent;
    padding-top: 50px;
}
nav a:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
    padding-top: 50px;
    transition: all 0.2s ease;
}

@media screen and (max-width: 767px) {
    .menu ul {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 0px;
        padding: 0;
        text-align: center;
    }
    nav{
        width:100%;
    }
    .menu ul a {
        border-top: none;
        border-bottom: 2px solid #F2F2F2;
        display: block;
        padding-bottom: 20px;
    }
    nav a:hover {
        border-top: none;
        border-bottom: 2px solid #0065FC;
        color: #0065FC;
        padding-top: 0;
        transform: none;
    }
}