/*************** HEADER *********************/

header {
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 40px 0px;
}
.logo-desktop img {
    max-width: 100px;
    height: auto;
    display: flex;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    header {
        padding: 40px;
    }
}

@media screen and (max-width: 767px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
}


/**************** MENU *************************/

.menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 68px;
    list-style: none;
}
.menu ul a {
    font-size: 16px;
    font-weight: 400;
    color: black;
    text-decoration: none;
    padding-top: 38px;
    border-top: 2px solid transparent;
}
nav a:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

@media screen and (max-width: 767px) {
    .menu ul {
        margin: auto;
        padding: 10px 0px;
        display: flex;
        justify-content: space-between;
        gap: 0px;
    }
    .menu ul a {
        border-top: none;
        border-bottom: 2px solid #F2F2F2;
        padding: 10px 142px 30px 142px;
        border-width: 100%;
    }
    nav a:hover {
        border-top: none;
        border-bottom: 2px solid #0065FC;
        color: #0065FC;
    }
}